<!-- CHANGE :: Create the code for chat box -->
<% if (locals.user){ %>
	<!-- <div id="user-chat-box">
		<ul id="chat-messages-list">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div> -->
    <div id="chat-box">
	<div id="message-container"">
	</div>
	<form id="form">
    <label for="message-input">Message</label>
	<input type="text" id="message-input">
	<button type="submit" id="send-button">Send</button>
	<label for="room-input">Room</label>
	<input type="text" id="room-input">
	<button type="button" id="room-button">Join</button>
	</form>
	</div>
<% } %>
